<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>vue to do list</title>
</head>
<body>
    <div id="root" class="container">
        <header>
            <img src="https://www.boolean.careers/images/misc/logo.png" alt="Logo Boolean">
            <input type="text" v-model= "testo" @keydown.enter= "aggiungi" placeholder="inserisci una consegna">
            <button @click= "aggiungi">Aggiungi</button>
        </header>
        <main>
            <div v-if= "consegne.length == 0" class="main-vuoto">
                <h2>Chi dorme non piglia pesci</h2>
            </div>
            <ul v-else>
                <li @click= "toggle(index)" v-for= "(consegna,index) in consegne" :class="(consegne[index].fatto == false) ? classi[0] : classi[1]">
                    {{consegne[index].consegna}}
                    <i @click= "rimuovi(index)" class="fas fa-times"></i>
                </li>
            </ul>
        </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>
</html>